@mixin bluebg($blue:blue){
	background-color: $blue;
}
%mg0{margin:0;}
%pd0{padding:0;}
body{margin:0px; padding: 0px;}
div{
	@extend body;
	@extend %mg0;
	@extend %pd0;
}
.mydiv{
	background-color: green;
}