$color: red green !default;
.mylink{
	$color:cyan blue !global;
	color:nth($color,1);
	&:hover{
		color:nth($color,2);
	}
	span{
		float:left;
	}
}
$headings:(h1:2em, h2:1.6em, h3:1.4em);
@each $header,$size in $headings{
	#{$header}{
		font-size:$size;
	}
}
@mixin box-shadow($value...){
	-webkit-box-shadow:$value;
	-moz-box-shadow:$value;
	-ms-box-shadow:$value;
	box-shadow:$value;
}
.mydiv{
	@include box-shadow(1px 1px 1px blue,2px 2px 2px green);
}
.mydiv1{
	@extend .mydiv;
	background:url(about:blank);
}